<html>
    <head>
        <title> Olga's Portfolio </title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
</html>
<body>
    <img src="images/logo1.jpg" alt="logo" width="80" height="60"/>
    <div class="topnav">
            <a class="active" href="#about">About</a>
            <a href="#work">Work</a>
            <a href="#contact">Contact</a>
    </div>
    <!--<img id="bamboo" src="images/IMG_7744_V1.jpg" alt="bamboo" width=100%/>-->
    <div id="bamboo">
    <div>
        I am <%= person.firstName %> <%= person.lastName %>
    </div>
    </div>
</body>