body {
    margin: 0;
    padding: 0;
    background-image: url('images/agave.jpeg');
    background-size: cover;
    background-position:center center;
    font-family: 'Source Sans Pro', sans-serif; 

}

div#wrapper {
    position: absolute;
    margin: auto;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    padding-left: 4%;
    /* background-image: url('images/circlesOfTree.jpeg'); */
    background-size: cover;
    background-position:center center;
    font-size: 1.2em;
    color:#293d3d;
}

#contactForm label {
    width: 100px;
    display: inline-block;
    vertical-align: top;
}
#contactForm input {
    width: 522px;
}
form#message {
    align-self: bottom;
    padding-top: 0;
}
@media only screen and (max-width: 600px) {
    #wrapper{
        padding: 5px;
        margin: 5px;
        font-size: 1.4em;
    }
}

@media only screen and (min-width : 640px) {
    #wrapper{
        height: 50vh;
        
    }
} 
