@media screen and (min-width:480px){
    
}
@media screen and (max-width: 1024px) {
  body {
		width: 100%;
		min-width: 300px;
	}

	#wrapper{
		padding:0;
		margin:0;
	}
	
  #logo-name h1{
    font-size: 15px;
	}

	#smallImageHome{
		width: 10%;
		min-width: 100px;		
	}

	#typedtext{
		max-width: 230px;
		font-size: 20px;
		font-family: "Times New Roman", Times, serif;
		font-style: italic;
		text-align: left;
		position: absolute;
    top: 55%;
    left: 20px;
    transform: translate(-20px, -50%); 
	}

  .aboutMeContainer,
  #aboutMeLeft {
    display: flex;
		flex-direction: column;
		justify-content: center;
	} 
	
  #myImage{
		max-width: 200px;
	}

}

