body {
    background: #136a8a; /* fallback for old browsers */
    background: linear-gradient(to left, #e7eade, #b6d0c4);
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Style for logo in left corner in "HOME" Section */
#logo-name{
  position: relative;
  top: 30px;
  float: left;
}
#logo-name h1{
  font-family: 'Source Sans Pro', sans-serif; 
  color: #293d3d;
  margin: 0;
  font-size: 1.2em;
}

/*Style "Home" Section */
#home {
    padding:0;
    width: 100%;
    height: 100vh;
}

#home::after{
  content:"";
  background-image: url('images/agave.jpeg');
  opacity: 0.8;
  top:0;
  left:0;
  bottom:0;
  right:0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;
  justify-content: center;
}

.topnav{
  position: absolute;
  top: 15px;
  right:5px;
  overflow: hidden;
}


/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    /* color: #16441a; */
    color:#293d3d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
    /* background-color: #e5e79d92; */
    /* background-color: #f0f5f580 */
    
}

/* Change the color of links on hover */
.topnav a:hover {
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    text-decoration: underline;
    color: #19491e;
    
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/* Remove bullet points in navigation bar (for unordered list) */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Style for the quote on Home page*/
#typedtext{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-30%, -50%); 
  font-size: 2.5em;
  text-align: center;
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  /* color: #020200; */
  color:#ffffff;
  text-shadow: 5px 2px 6px #293d3d;  /*#e5e79d*/
  /* background-color: #e5e79d92; */
}
/*************** "ABOUT" SECTION ***************/
/* Applying Flexible Layout to "About" Section */
.aboutMe {
  color:#293d3d;
  align-content: center;
  position: relative;
 } 
 .aboutMeContainer{
   height: 100vh;
  }
/*-JUST FOR TESTING,NEED TO DELETE*/
.aboutMe {  
  /* background-color: pink;  */
}  
/*-JUST FOR TESTING,NEED TO DELETE*/
.aboutMeContainer{
  /* background-color: orange; */
}
    
/*-JUST FOR TESTING,NEED TO DELETE*/
 #aboutMeLeft{
  /* background-color: #4000ff;  */
 }

 /*-JUST FOR TESTING,NEED TO DELETE*/
 #aboutMeRight{
  /* background-color: #00ff1a;  */
 }

/*Styling image in "About" Section*/
.aboutMeContainer,
#aboutMeLeft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  
}


#myImage{
  position: relative;
  padding:25% 20px 25% 20px;
  height: 50%;
  border-radius: 50%;
  vertical-align: middle;
  margin: 25% 0 25%;
  /* background-color: plum; */
}

/*Paragraph styling in "About" Section*/
#aboutMeRight,
#aboutMeRight h1  {
  font-size: 1.4em;
  font-family: 'Source Sans Pro', sans-serif;
  color:#565b6c;
}
.aboutMeRight,
#aboutMeRight{
  display: flex;
  flex-direction: column;
  padding: 15% 0 15% 5%;
  justify-content:space-around;
}
/******* Styling "Work" Section *********/
#work{
  height: 100vh;
  overflow: scroll;
  background-color: #f2f2f2;
}
#projects{
  color:#565b6c;
  text-align: center;
}
/*Applying Flexible Layout to "Work" Section*/
.rowOfPictures{
  display: flex;
}
/* Styling each picture*/
div.gallery {
  margin: 0.5vh 2.5vw;
  border: 1px solid #ccc;
  float: left;
  width: 45vw;
}
div.gallery:hover {
  border: 1px solid rgb(91, 91, 91);
}
div.gallery img{
  width: 45vw;
}
#invisibleTile{
  display: none;
}

/* Styling for FOOTER */
/* Bottom FOOTER styling BEGINS */
/* Place the navbar at the bottom of the page, and make it stick */
ul.navbar {
  text-align: center;
}
ul.navbar li{
  display: inline-block;
}
#navbar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  /* display: block; */
  transition: bottom 0.3s;
  align-items: center;
  align-self: center;
  display: inline-block;
  list-style-type: none;
  background-color: #000000; 
}

/* Style the links inside the navigation bar */
#navbar a {
  float: left;
  /* display: block; */
  color: #f2f2f2;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 15px;
  align-self: center;
}

/* Change the color of links on hover */
#navbar a:hover {
  color: #ddd;
}

/* Add a color to the active/current link */
#navbar a.active {
  background-color: #000000;
  color: white;
}
/* Bottom FOOTER styling ENDS */


/*Test Test Test*/
/*MEDIA QUERY*/
/* @media only screen and (max-width : 640px) {

	

	#menu-icon {
		display:inline-block;
	}

	nav ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}
	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
  }

	nav:hover ul {
		display: block;
	}
} */
