body {
    background: #136a8a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #beffda, #befffd);
    background: linear-gradient(to left, #34f531, #deffd4);
}

  .topnav {
    overflow: hidden;
    float: right;
}

#bamboo {
    width: 100%;
    height: 500px;
    background-image: url('images/IMG_7744_V1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #eef0f0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #cee5ea;
    color: white;
}