body {
    background: #136a8a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #beffda, #befffd);
    /* background: linear-gradient(to left, #f6ffef, #deffd4); */
    /* background: linear-gradient(to left, #d1e0e0, #a3c2c2); */
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
@media (min-width: 769px) {
    .main-header,
    .topnav {
      display: flex;
    }
    .main-header {
      flex-direction: row;
      align-items: left;
    }
}
/*Style for small image in "Home" Section*/
#smallImageHome{
  position: relative;
  float: left;
  top:15px;
  /* left:15px; */
  width: 10%;
  border-radius: 50%;
  transform: scaleX(-1);
}
/* Style for logo in left corner in "HOME" Section */
#logo-name{
  position: relative;
  top: 30px;
  /* left: 180px; */
  float: left;
  
}
#logo-name h1{
  font-family: 'Source Sans Pro', sans-serif; 
  color: #293d3d;
  margin: 0;
  font-size: 1.2em;
}

/*Style "Home" Section */
#bamboo {
    width: 100%;
    height: 100vh;
    background-image: url('images/agave.jpeg');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    justify-content: center;
}

.topnav{
  position: fixed;
  top: 15px;
  right:5px;
  overflow: hidden;
}


/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    /* color: #16441a; */
    color:#293d3d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
    /* background-color: #e5e79d92; */
    /* background-color: #f0f5f580 */
    
}

/* Change the color of links on hover */
.topnav a:hover {
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    text-decoration: underline;
    color: #19491e;
    
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/* Remove bullet points in navigation bar (for unordered list) */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Style for the quote on Home page*/
#typedtext{
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%); 
  font-size: 2.5em;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  /* color: #020200; */
  color:#ffffff;
  text-shadow: 5px 2px 6px #293d3d;  /*#e5e79d*/
  /* background-color: #e5e79d92; */
}
/* Applying Flexible Layout to "About" Section */
.aboutMe {
  display: flex;
 
  background-color: white;
  color:#293d3d;
} 

/*Making my image round in "About" Section*/

#aboutMeContainer{
  height: 80vh;
}
/* Style for h1 tag in About section */
#aboutOlga{
    color: #999999;
    font-size: 2em;
    font-family: 'Source Sans Pro', sans-serif;
}
.separator{
  height: 5vh;
}
#aboutMeLeft{
  height: 90vh;;
  width: 100%;
  display: inline-block;
  background-image:  url('images/IMG_9041_portfolio2.jpg');
  /* background-image:  url('images/IMG_8999_portfolio1.jpg'); */
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 120%;
}
/*Paragraph styling in "About" Section*/
#aboutMeRight p {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-size: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  color:#999999;
  
}
/******* Styling "Work" Section *********/
#work{
  height: 100vh;
  overflow: scroll;
  background-color: #f2f2f2;
}
#projects{
  color:#999999;
  text-align: center;
}
/*Applying Flexible Layout to "Work" Section*/
.rowOfPictures{
  display: flex;
}
/* Styling each picture*/
div.gallery {
  margin: 0.5vh 2.5vw;
  border: 1px solid #ccc;
  float: left;
  width: 45vw;
}
div.gallery:hover {
  border: 1px solid rgb(91, 91, 91);
}
div.gallery img{
  width: 45vw;
}
/* Styling for FOOTER */
/* Bottom FOOTER styling BEGINS */
/* Place the navbar at the bottom of the page, and make it stick */
ul.navbar {
  text-align: center;
}
ul.navbar li{
  display: inline-block;
}
#navbar {
  position: fixed;
  bottom: 25px;
  width: 100%;
  /* display: block; */
  transition: bottom 0.3s;
  align-items: center;
  align-self: center;
  display: inline-block;
  list-style-type: none;
  background-color: #000000; 
}

/* Style the links inside the navigation bar */
#navbar a {
  float: left;
  /* display: block; */
  color: #f2f2f2;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 15px;
  align-self: center;
  
  
}

/* Change the color of links on hover */
#navbar a:hover {
  color: #ddd;
}

/* Add a color to the active/current link */
#navbar a.active {
  background-color: #000000;
  color: white;
}
/* Bottom FOOTER styling ENDS */




/*Test Test Test*/
/*MEDIA QUERY*/
/* @media only screen and (max-width : 640px) {

	

	#menu-icon {
		display:inline-block;
	}

	nav ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}
	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
  }

	nav:hover ul {
		display: block;
	}
} */
